html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::after, *::before {
  box-sizing:
}

ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #76a500;
}

a:hover,
a:focus {
  color: #acc300;
}

.icon {
  position: relative;
  height: 8em;
  width:8em;
}

.icon svg {
  left: 0;
  top: 0;
  position: absolute;
  fill: currentColor;
  height: 100;
  width: 100;
}
